<div class="col-xs-12">


  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <h3>Recent Weather Update From All Locations</h3>
      <div class="">
        <div id="multi_markers" style='width: 800px; height: 400px;'></div>
      </div>

      <h3>Weather Updates From all locations</h3>

      <div class="row">

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cold - BRLN</h4>
          <%= image_tag 'sw.jpg', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cold</p>
          <p>1.5 Degree Celsius</p>
              <p><%= link_to 'Send Gift To Your friend', shop_path %></p>
        </div>

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cold - AMS</h4>
          <%= image_tag 'cold_1.jpg', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cold</p>
          <p>5.5 Degree Celsius</p>
          <p><%= link_to 'Send Gift To Your friend', shop_path %></p>
        </div>

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cold - DHAKA</h4>
          <%= image_tag 'running-in-cold-weather.gif', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cold</p>
          <p>20.5 Degree Celsius</p>
          <p><%= link_to 'Send Gift To Your friend', shop_path %></p>
        </div>

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cold - DHAKA</h4>
          <%= image_tag 'cold_weather.jpg', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cold</p>
          <p>20.5 Degree Celsius</p>
          <p><%= link_to 'Send Gift To Your friend', shop_path %></p>
        </div>

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cloudy - DHAKA</h4>
          <%= image_tag 'cloudy_1.jpg', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cloudy</p>
          <p>20.5 Degree Celsius</p>
        </div>

        <div class="col-xs-4 col-lg-4">
          <%# wu =  get_detail_info(w.lat, w.long) %>
          <h4>It's Cloudy - DHAKA</h4>
          <%= image_tag 'cloudy_2.jpg', :width => '220px', :height => '170px'%>
          <p>Today's weather is Cloudy</p>
          <p>20.5 Degree Celsius</p>
        </div>

        <% @weathers.each do |w| %>
            <div class="col-xs-4 col-lg-4">
              <% wu =  get_detail_info(w.lat, w.long) %>
              <h4><%= w.info %>- <%= wu['control']['o'] if wu['control']['o'].present? %></h4>
              <%= image_tag w.picture_url, :width => '220px', :height => '170px'%>
              <p>Today's weather is <%= wu['observation']['WX.en_US'] if wu['observation']['WX.en_US'].present? %></p>
              <p><%= wu['observation']['AIRTMP'] if wu['observation']['AIRTMP'].present? %> Degree Celsius</p>
              <% if w.info == "It's Cold" %>
                <p><%= link_to 'Send Gift To Your friend', shop_path %></p>
              <% end %>
            </div>
        <% end %>
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div style="border: 1px solid aliceblue; padding: 5px">

        <h4>Update From weathernews.jp</h4>
        <h5><strong>Your Current Location:</strong> <%= @weather_update.first['control']['o'] %></h5>
        <p><strong>Today's Weather is:</strong> <%= @weather_update.first['observation']['WX'] %></p>
        <p><%= @weather_update.first['observation']['AIRTMP'] %> Degree Celsius</p>
        <p><strong>Sunrise: </strong><%= @weather_update.first['astro']['sunrise'] %>
          <strong>Sunset:</strong> <%= @weather_update.first['astro']['sunset'] %></p>
        <% if @weather_update.first['observation']['WX'] == '500' %>
            <p><strong>Great Day! Have Fun!</strong></p>
      <% end %>
      </div>

      <div style="border: 1px solid aliceblue; padding: 5px">

        <h4>Upcoming Weather Update</h4>
        <% @weather_update.first['mrf'].take(5).each do |m| %>
            <p><strong>Date:</strong> <%= m['time'] %></p>
            <p><strong>Weather Code: </strong><%= m['WX'] %></p>
            <p><strong>Maximum Temperature of day:</strong> <%= m['MAXT'] %></p>
            <p><strong>Minimum Temperature of day:</strong> <%= m['MINT'] %></p>
            <p><strong>Chance of Rain:</strong> <%= m['POP']%>%</p>
            <hr />
        <% end %>


      </div>

    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

</div>



<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js'></script>


<script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
//        var markers = handler.addMarkers([
//            { lat: 23.43, lng: 90.26, infowindow: "It's Sunny"},
//            { lat: 23.35, lng: 90.30, infowindow: "It's Sunny"},
//            { lat: 21.26, lng: 91.59, infowindow: "It's Cold"},
//            { lat: 25.33, lng: 88.43, infowindow: "It's Sunny"},
//            { lat: 24.52, lng: 89.22, infowindow: "It's Cold"},
//            { lat: 24.59, lng: 91.52, infowindow: "It's Cold"},
//        ]);
          var markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>