<div class="col-xs-12">


  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
      <h3>Recent Weather Update From All Locations</h3>
      <div class="">
        <div id="multi_markers" style='width: 800px; height: 400px;'></div>
      </div>

      <div class="row">
        <% @weathers.each do |w| %>
            <div class="col-xs-4 col-lg-4">
              <% wu =  get_detail_info(w.lat, w.long) %>
              <h4><%= w.info %>- <%= wu['control']['o'] %></h4>
              <%= image_tag w.picture_url, :width => '20px', :height => '220px'%>
              <p>Today's weather is <%= wu['WX.en_US'] %></p>
              <p><%= wu['observation']['AIRTMP'] %> Degree Celsius</p>
            </div>
        <% end %>
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->


    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div style="border: 1px solid aliceblue; padding: 5px">

        <h4>Update From weathernews.jp</h4>
        <h5>Your Current Location: <%= @weather_update.first['control']['o'] %></h5>
        <p>Today's Weather is <%= @weather_update.first['observation']['WX.en_US'] %></p>
        <p><%= @weather_update.first['observation']['AIRTMP'] %> Degree Celsius</p>
        <p>Sunrise: <%= @weather_update.first['astro']['sunrise'] %>
          Sunset: <%= @weather_update.first['astro']['sunset'] %></p>

      </div>

      <div style="border: 1px solid aliceblue; padding: 5px">

        <h4>Upcoming Weather Update</h4>
        <% @weather_update.first['mrf'].take(5).each do |m| %>
            <p>Date: <%= m['time'] %></p>
            <p>Weather Code <%= m['WX'] %></p>
            <p>Maximum Temperature of day: <%= m['MAXT'] %></p>
            <p>Minimum Temperature of day: <%= m['MINT'] %></p>
            <p>Chance of Rain: <%= m['POP']%>%</p>
            <hr />
        <% end %>


      </div>

    </div><!--/.sidebar-offcanvas-->
  </div><!--/row-->

</div>



<script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js'></script>


<script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
        var markers = handler.addMarkers([
            { lat: 23.43, lng: 90.26, infowindow: "It's Sunny"},
            { lat: 23.35, lng: 90.30, infowindow: "It's Sunny"},
            { lat: 21.26, lng: 91.59, infowindow: "It's Cold"},
            { lat: 25.33, lng: 88.43, infowindow: "It's Sunny"},
            { lat: 24.52, lng: 89.22, infowindow: "It's Cold"},
            { lat: 24.59, lng: 91.52, infowindow: "It's Cold"},
        ]);
          //var markers = handler.addMarker(<%#=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>