<h2>Send Gift to Your Friend</h2>
<div class="row">
  <div class="col-md-3 col-sm-6">
    <!-- Product -->
    <div class="shop-item">
      <!-- Product Image -->
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'h_2.jpg' %></a>
      </div>
      <!-- Product Title -->
      <div class="title">
        <h3><a href="#">Hoodie</a></h3>
      </div>
      <!-- Product Available Colors-->
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
        <span class="color-orange"></span>
        <span class="color-green"></span>
      </div>
      <!-- Product Price-->
      <div class="price">
        $99.99
      </div>
      <!-- Add to Cart Button -->
      <div class="actions">
        <a href="#" class="btn btn-default btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>


    <!-- End Product -->
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'm_1.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Winter Fleece Skull Hat</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
      </div>
      <div class="price">
        $50.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'h_1.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Hoodie</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
      </div>
      <div class="price">
        $60.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default  btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'c_1.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Winter Cap</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
        <span class="color-orange"></span>
        <span class="color-green"></span>
      </div>
      <div class="price">
        $9.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'c_1.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Winter Cap</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
        <span class="color-orange"></span>
        <span class="color-green"></span>
      </div>
      <div class="price">
        $9.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <!-- Product -->
    <div class="shop-item">
      <!-- Product Image -->
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'b_1.jpg' %></a>
      </div>
      <!-- Product Title -->
      <div class="title">
        <h3><a href="#">For Baby</a></h3>
      </div>
      <!-- Product Available Colors-->
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
        <span class="color-orange"></span>
        <span class="color-green"></span>
      </div>
      <!-- Product Price-->
      <div class="price">
        $99.99
      </div>
      <!-- Add to Cart Button -->
      <div class="actions">
        <a href="#" class="btn btn-default btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>


    <!-- End Product -->
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'b_2.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Baby Set</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
      </div>
      <div class="price">
        $50.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="shop-item">
      <div class="shop-item-image">
        <a href="#"><%= image_tag 'h_1.jpg' %></a>
      </div>
      <div class="title">
        <h3><a href="#">Hoodie</a></h3>
      </div>
      <div class="colors">
        <span class="color-white"></span>
        <span class="color-black"></span>
        <span class="color-blue"></span>
      </div>
      <div class="price">
        $60.99
      </div>
      <div class="actions">
        <a href="#" class="btn btn-default  btn-small"><i class="icon-shopping-cart icon-white"></i> Add to Cart</a>
      </div>
    </div>
  </div>

</div>

